body {
  background-color: #fefefe;
  font-family: sans-serif;
  font-size: 90%;
  text-align: left;
  margin: 2em;
  /*margin-left: 10%; */
}

.site {
  max-width: 40em;
  font-size: 100%;
  line-height: 140%;
  text-align: justify;
}

.site h1 {
  font-size: 120%;
  margin-top: 2em;
}
.site h2,h3,h4 {
  font-size: 110%;
  /* margin-top: 2em; */
}

.site .abstract {
    color: #444;
    line-height: 160%;
    font-weight: bold;
    font-size: 90%;
}

code {
    font-size: 1.15em;
    border: 1px solid #ddd;
    padding: 0 .2em;
}
pre {
    border: 1px solid #ddd;
    padding: .1em .4em;
    background-color: #fefefe;
    line-height: 1.3em;
}

pre code {
    border: none;
}

ul.recent {
  margin: 0 0 0 -1.5em;
  list-style: none;
  line-height: 125%;
}

ul.recent .categories {
  font-size: 80%;
}

.meta {
  color: #444;
}
a.nav {
    font-weight: bold;
}
.meta a.nav {
    text-decoration: none;
    padding-left: 1em;
}
a.nav:visited {
    color: #444;
}
a.nav:hover {
    color: #000;
}
.header {
  border-bottom: solid lightgray 3px;
  margin-bottom: 2em;
  padding-bottom: 0.3em;
}
.footer {
  border-top: solid lightgray 3px;
  margin-top: 2em;
  padding-top: 0.3em;
}

.related {
  border-top: solid lightgray 1px;
}

.articlesummary {
    margin-top: 1em;
    line-height: 160%;
}
.articlesummary a {
    font-weight: bold;
}
.articlesummary .date {
    font-size: 90%;
    color: #444;
}
